<header class="matdash-sidenav__header">
  <img src="assets/images/user.jpg" class="matdash-topnav__avatar-img">
  <div class="matdash-sidenav__avatar-dropdown">
    <span>{{username}}</span>
    <div class="mdl-layout-spacer"></div>
    
    {{#mdl-menu align="bottom-right" icon="arrow_drop_down"}}
      {{#each menuLinks as |link|}}
        {{#link-to link.path class="mdl-menu__item" tagName="li"}}
          {{#link-to link.path}}
            {{link.text}} 
          {{/link-to}}
        {{/link-to}}
      {{/each}}
    {{/mdl-menu}}
  </div>
</header>

{{portal-for name="sidenav" 
  class="matdash-sidenav__navigation-ctn mdl-navigation"
  portal-class="matdash-sidenav__navigation mdl-color--blue-grey-800"}}
{{#portal-content for="sidenav"}}
  {{#each navLinks as |link|}}
    {{#link-to link.path class=linkClass}}
      {{ma-icon link.icon color=iconColor}} {{link.text}}
    {{/link-to}}
  {{/each}}
{{/portal-content}}
